<div class="container Convertor1">
    <h1>Currency Convertor</h1>
    <form action="" #formvalue="ngForm" (ngSubmit)="submit(formvalue)" name="form">
        <div class="row">
            <div class="col-md-4">
              <label for="">Enter Amount to convert</label> 
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"placeholder="Enter Amount" name="amount" ngModel>
            </div>
            <div class="col-md-4">
                <select name="currencies" class="currency" ngModel>
                    <option selected value="">Select currency</option>
                    <option value="USD">America (United States) Dollars – USD</option>
                    <option value="AFN">Afghanistan Afghanis – AFN</option>
                    <option value="ATS">Austria Schillings – ATS</option>
                    <option value="BSD">Bahamas Dollars – BSD</option>
                    <option value="BHD">Bahrain Dinars – BHD</option>
                    <option value="BDT">Bangladesh Taka – BDT</option>
                    <option value="BBD">Barbados Dollars – BBD</option>
                    <option value="BEF">Belgium Francs – BEF</option>
                    <option value="BMD">Bermuda Dollars – BMD</option>
                    <option value="BRL">Brazil Reais – BRL</option>
                    <option value="BGN">Bulgaria Leva – BGN</option>
                    <option value="CAD">Canada Dollars – CAD</option>
                    <option value="XOF">CFA BCEAO Francs – XOF</option>
                    <option value="XAF">CFA BEAC Francs – XAF</option>
                    <option value="CYP">Cyprus Pounds – CYP</option>
                    <option value="CZK">Czech Republic Koruny – CZK</option>
                    <option value="DKK">Denmark Kroner – DKK</option>
                    <option value="DEM">Deutsche (Germany) Marks – DEM</option>
                    <option value="EUR">Euro – EUR</option>
                    <option value="NLG">Holland (Netherlands) Guilders – NLG</option>
                    <option value="HKD">Hong Kong Dollars – HKD</option>   
                    <option value="IQD">Iraq Dinars – IQD</option>
                    <option value="INR">India Rupees – INR</option>
                    <option value="JPY">Japan Yen – JPY</option>
                    <option value="VND">Vietnam Dong – VND</option>
                    <option value="ZMK">Zambia Kwacha – ZMK</option>
                  </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="offset-md-4 col-md-3">
              <button class="btn btn-outline-primary">convert</button>
            </div>
            <div *ngIf="showmoney" class="col-md-5">
              <p id="convert-amount">Converted Amount in &nbsp;{{this.countrycode}}&nbsp;{{this.convertamount}}</p>
            </div>
          </div>
    </form>
</div>
