.currency{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #3e83ff;
    outline: 0;
    text-transform: capitalize;
}
.Convertor1{
    padding-top: 50px; 
}
.Convertor1 h1{
margin-bottom: 30px;  
text-align: center;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
color: #3e83ff;
}
form label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #95a5a6;
    font-size: 25px;
}
form input{
    outline: 0;
}
#convert-amount{
    color: #95a5a6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}