<nav class="navbar navbar-expand-md sticky-top bg-dark navbar-dark">
  <a class="navbar-brand" href="#"><img src="assets/img/logo.png" style="max-height: 25px; " alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="" style="margin-right: 5px;">Signin</a>
      </li>
    </ul>
    <form class="form-inline">
      &nbsp;<input class="form-control mr-sm-2" type="search" placeholder="Your email" style="border-radius:0px;">
      <button class="btn btn-primary my-2 my-sm-0" type="submit" style="border-radius:0px;font-weight: bold">Get
        Started</button>
    </form>
  </div>
</nav>