.bg-dark{
    background-color: #fff !important;
    box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
    padding: 0 15px;
}
.navbar-dark .navbar-nav .nav-link{
    color: #363f44 !important;
    line-height: 30px;
}
.navbar-dark .navbar-nav .nav-item:hover{
background-color: #ecf0f1;
}
 .navbar-collapse{
line-height: 40px !important;
margin-left: 30px;
}
.navbar-dark .navbar-toggler{
    color: #363f44 !important;
}
.mr-sm-2, .mx-sm-2{
    margin-right: 0 !important;
}
