<div class="container">
  <div class="footer">
    <div class="row">
      <div class="col-md-3">
        <div id="heading">
          <h5>Greendeck</h5>
        </div>
        <p>Competition Intelligence for Fashion Brands and Retailers</p>
        <p>Proudky Backed By</p>
        <div id="images" style="display:flex;">
          <img src="assets/img/sapio.png" height="40" width="50" alt="">
          &nbsp;<img src="assets/img/sbc.png" height="35" width="50" alt="">
          &nbsp;<img src="assets/img/techstars.png" height="35" width="50" alt="">
        </div>
      </div>
      <div class="col-md-3">
        <div id="heading">
          <h5>Product</h5>
        </div>
        <p>Our Technology</p>
        <p>Status</p>
      </div>
      <div class="col-md-3">
        <div id="heading">
          <h5>company</h5>
        </div>
        <p> Webinar</p>
        <p> Contact Us</p>
        <p>Blog</p>
      </div>
      <div class="col-md-3">
        <div id="heading">
          <h5>Contactus</h5>
        </div>
        <p style="color:#3e83ff">UK office</p>
        <p>Kemp House, 152-160 City Rd
          London EC1V 2NX, UK </p>
        <p style="color:#3e83ff">India office</p>
        <p>The Garage, 210 SJ Marg
          Lower Parel, Mumbai — India</p>
        <p>Sales: sales@greendeck.co</p>
        <ul style="display:flex">
          <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer-bottom">
    <img src="assets/img/logo.png" style="max-height: 30px" alt="">
    <p style="color:#3e83ff"><i class="fa fa-at" aria-hidden="true"></i>&nbsp;2017</p>
    <p>Bringing science to the art of pricing</p>
  </div>
</div>