#footer{
    margin-top:50px; 
}
 #heading h5{
text-transform: uppercase;
color: #3e83ff !important;
}
.footer ul li{
    list-style: none;
    margin-right: 15px;
}
.footer ul{
    padding: 0px;
}
#footer-bottom{
    text-align: center;
}