.currency{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #3e83ff;
    outline: 0;
    text-transform: capitalize;
}
#company-img{
    margin-top: 100px;
    margin-bottom: 50px; 
    text-align: center;
}
#shoe-item .single-item{
    padding: 10px;
    border-radius:6px; 
    box-shadow: 0 0 25px 0 rgba(0,0,0,.28);
    
}
#shoe-item .single-item:hover{
    box-shadow:0 0 25px 0 rgba(0,0,0,.21);
    cursor: pointer;
    transform: scale(1.05);

}
#shoe-item .single-item h5{
    color: #3e83ff !important;
    display:block;
}
#shoe-item .single-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.item-row-gap{
    margin-bottom: 50px;
}
.single-item .color-to-buy p{
    color: #3e83ff;
}
.single-item #description{
    text-transform: capitalize;
}
.refresh-btn{
margin-top:65px !important; 
text-align: center;
margin-bottom: 40px;
}
.refresh-btn button{
background-color: #fff !important;
border: 1px solid #b2bec3;
padding: 5px 25px;
border-radius:40px; 
}
.refresh-btn button:hover{
    box-shadow: 0 0 25px 0 #dfe6e9;
    transform: scale(1.1);
    background-color: #dfe6ed !important;
}
#text{
    display: flex;
    align-items: center;
    color: #3e83ff;
    justify-content: center;
}
#drop-email input{
    padding: 5px;
}
#drop-email input:focus{
outline: 0;
}
#text h3{
animation: typing-text 2s steps(27), blink 0.5s infinite alternate;
overflow: hidden;
white-space: nowrap;
border-right: 3px solid #3e83ff;
}
@keyframes typing-text{
    from{
        width: 0;
    }
    to{
        width: 338px;
    }
}
@keyframes blink{
    from {
        border-color: transparent; 
    }
    to{
        border-color:#007bff; 
    }
}
.same-row{
    display: flex;
}
#drop-email button{
    background-color: #007bff;
    color: #fff;
    line-height: 28px;
    font-weight:500;
    border: none;
    padding: 5px; 
}
#drop-email{
display: flex;
justify-content: center;
}
@media screen and (max-width:768px)
{
    #shoe-item .single-item{
        margin-bottom: 25px !important;
    }
    #company-img{
        margin-top: 50px !important;
        margin-bottom: 30px !important;
    }
    #shoe-item .single-item img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}
