<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div id="company-img">
        <img src="assets/img/theshoecompany.png" width="40%" height="44%" alt="">
      </div>
    </div>
  </div>
  <br>
  <div id="shoe-item">
    <div class="row">
      <div class="col-md-3 item-row-gap" *ngFor="let data of shoe_data;">
        <div class="single-item">
          <img src="{{data.img}}" width="180" height="180" alt="">
          <h5>{{data.brand_name}}</h5>
          <p id="description">{{data.description}}</p>
          <hr>
          <div class="row">
            <div class="col-sm-9 color-to-buy">
              <p class="">BUY
                <span>
                  &nbsp;<i class="fa fa-shopping-cart" aria-hidden="true" style="color:#3e83ff"></i>
                  &nbsp;<i class="fa fa-heart-o" aria-hidden="true" style="color:#ff7675"></i>
                </span>
              </p>
            </div>
            <div class="col-sm-3">
              <p>{{data.amount}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="refresh-btn">
    <div class="row">
      <div class="col-md-12">
        <button class="btn"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh Prices</button>
      </div>
    </div>
  </div>
  <div id="text" style="margin-bottom:35px !important; ">
    <h3>Are You working in pricing?</h3>
  </div>
  <div id="drop-email">
    <div id="input-box">
      <input type="text" placeholder="Drop your Email">
    </div>
    <div id="button-b">
      <button>Get Started</button>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>